@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');
// // font-family: 'Noto Sans TC', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// // font-family: 'Roboto', sans-serif;

html {
  font-size: $font-size-base;
  @include secondary-device {
    font-size: $font-size-base-2;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: transparent;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Noto Sans TC', $font-family-sans-serif;
  // overflow-x: hidden;
  line-height: 1.8;
  position: relative;
  // font-size:150%;  //font-basic 24px
  // font-size: $font-size-base;

  &.fixed {
    overflow: hidden;
  }
}

p {
  margin-bottom: 0;
}

img,
a {
  display: block;
  @extend %transition-cubic;
}

a:hover {
  text-decoration: none;
}

.web-display {
  @include web-display;
}

.mob-display {
  @include mob-display;
}

.btn {
  // 0804ga照layout調整
  @include border-radius(0.7rem);
  padding: 1.2rem 1.8rem;
}

.btn-block + .btn-block {
  margin-top: 1rem;
}

// 文字 ============
//h1~p降級 < 768px
@include media-breakpoint-down(sm) {
  @include create-heading-type-scale(major-second);
}

// input ============
input,
input::placeholder {
  color: $main-gray;
  font-size: 0.9rem;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

//header ============

.header {
  @include flex-alignCenter;
  color: $main-gray;
  background-color: $white;
  // position: fixed;
  // top: 0;
  // left: 50%;
  // z-index: 1000;
  // transform: translateX(-50%);
  // width: 2160px;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  // margin-bottom: 30px;
  // background-color: $white;

  .info {
    @include flex-alignCenter;

    * {
      margin-bottom: 0;
    }
  }

  ._icon {
    font-size: 1.8rem;
  }

  ._account {
    color: $main-gray;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: auto;
    // font-size:1.2rem;
  }

  @include secondary-device {
    background-color: red;
  }
}

// div ============

.main_box {
  @extend %basic-shadow;
  background-color: $white;
  padding: 15px;
  @include border-radius(1rem); //0804ga調整
}

.dflex {
  @include flex-alignCenter;
}

// 陰影
.card,
.shadow-basic,
.tab_menu,
.block_content,
.btn.shadow-basic,
.item_group {
  @extend %basic-shadow;
}

.content {
  border: 1px solid hotpink;
  background-color: $bg-gray;
  width: 2160px;
  height: 100vh;

  // width: 1920px;
  // height: 1200px;

  margin: 0 auto;
  overflow: hidden;
}

.content_customer {
  border: 1px solid purple;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
}

.inner_content {
  padding: 30px 15px 15px;
  // margin-top: 150px;
  @include Dflex;
  height: calc(100vh - 130px); //扣掉header高度
  border: 1px solid cornflowerblue;
}
