.bg-primary {
  background-color: $primary-color !important;
}

.bg-primary-30 {
  background-color: $primary-color-30 !important;
}

.bg-primary-20 {
  background-color: $primary-color-20 !important;
}

.bg-primary-5 {
  background-color: $primary-color-5 !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.bg-gray {
  background-color: $main-gray !important;
}

.bg-lighten-gray {
  background-color: $light-gray !important;
}

// 按鈕 ============
.btn_block {
  // border: 1px solid green;
  margin: 1.5rem 0px;
  @include flex-alignCenter;

  .btn {
    // display: inline-block;
    &:not(:nth-of-type(1)) {
      margin-left: 1rem;
    }
  }
}

.btn {
    display: block;
    letter-spacing: 2px;
    background-color: $white;
    padding: 15px;

  &.bg-primary {
    color: $white;
  }

  &.bg-secondary {
    color: $dark;

    &.active {
      @include theme-colors(basic-theme);
    }
  }

  &.bg-gray {
    color: $white;
  }

  &.shadow-basic {
    &.active {
      box-shadow: none;
      @include theme-colors(basic-theme);
    }
  }

  &.btn-lg {
    //ga0809調整
    // padding:15px;
    font-size: inherit;
  }

  &.btn-md {
      font-size: 1rem;
    // padding: 1rem;
  }
}

// 初始化icon
._icon {
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1.2rem;
  svg {
    @include icon($primary-light, inherit);
  }


  img {
    display: inline-block;
    font-size: 1.2rem;

    svg {
        @include icon($primary-light, inherit);
    }
  }
    
}

._iconMd{
    font-size: 1.2rem!important;
} 

._iconl {
  margin-left: 0.5rem;
  display: inline-block;

  svg {
    @include icon($primary-light, inherit);
  }

  img {
    display: inline-block;
  }
}

._iconBg {
  margin-right: 0.5rem;
  @include iconBg($primary-light, 100%, 1.5rem);

  svg {
    @include icon($white, 0.8rem);
  }
}

$height: 3.5rem;
$width: 8rem;

$color-white: #fefefe;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-peter-river: #3498db;

$transition-default: 0.25s ease-out 0.1s;

.button_switch {
  font-size: 1em;
  width: 8rem;
  height: 3.5rem;
  position: relative;

  .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // --
    height: 0;
    font-size: 1em;
    left: 0;
    line-height: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0;

    &:before,
    &:after {
      content: '';
      font-size: 1em;
      position: absolute;
    }

    &:before {
      border-radius: 30 / 16 * 1rem;
      background: $main-gray;
      width: 8rem;
      height: 3.5rem;
      left: -0.35rem;
      // top: -0.3rem; 2021-08
      transition: background-color $transition-default;
    }

    &:after {
      box-shadow: 0 0.0625em 0.375em 0 #666;
      border-radius: 50%;
      background: $white;
      width: 3rem;
      height: 3rem;
      // 2021-08
      top: 0.25rem;
      transform: translate(0, 0);
      transition: transform $transition-default;
    }

    &:checked {
      &:after {
        transform: translate(4.3rem, 0);
      }

      & ~ .lbl-off {
        opacity: 0;
      }

      & ~ .lbl-on {
        opacity: 1;
      }
    }

    &#switch-blue {
      &:checked:before {
        background: $primary;
      }
    }
  }
}

// 產品列表按鈕
.btn_list {
  // border-radius,paddingtb,paddinglr
  @include btn-wrap(1rem, 20px, 15px);
  background-color: $white;

  a {
    @include flex-spaceBetween;
  }

  // 預設按鈕樣式
  ._iconBg {
    @include iconBg($primary, 0.5rem, 2rem);

    svg {
      @include icon($white, 1.5rem);
    }
  }

  // 點擊按鈕樣式
  .active {
    ._iconBg {
      @include iconBg($white, 0.5rem, 2rem);

      svg {
        @include icon($primary, 1.5rem);
      }
    }
  }
}


// counter
// 計算機
.counter {
    // border: 1px solid red;
    @include flex-spaceBetween;
    width: 180px;
    text-align: center;
    font-size: 1.5rem;
    height: 60px;
    line-height: 60px;
    background-color: $white;
    div {
      flex: 1;
    }
  
    .plus {
      color: $primary;
    }
  
    .minus {
      color: $main-gray;
    }
  
    .plus,
    .minus {
        font-size: 2.5rem;
    }
  
    // @include border-basic(1px, $lighten-gray);
    @include border-radius(1rem);
  }


// 分頁
.pager_block {
  // border: 1px solid green;
  @include flex-spaceBetween;
  margin: 30px 0;

  // *{ border:1px solid #000;}
  .page {
    a {
      width: 30px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      text-align: center;
      margin: 0 0.25rem;
      border-radius: 5px;
    }

    @include flex-alignCenter;

    .active {
      background-color: $primary;
      color: $white;
    }
  }

  .disable {
    color: $main-gray;

    ._icon {
      svg {
        color: $main-gray;
      }
    }
  }
}

// .order_list
.order_list {
    // border: 1px solid #666;

    .item_group {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        // padding: 1rem;
        border-radius: 1rem;
        background-color: $white;
    }

  .item {
    color: $black;
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;

    p {
      font-size: 1.5rem;
    }

    span {
      font-size: 1.5rem;
    }
    ._icon {
        margin-right: 1.5rem;
        img {
            width: 80px;
            height: 80px;
        }
        svg {
            font-size: 60px;
        }
    }
    //最左邊的item 2021-08
    ._line {border-right: 1px solid $light-gray;}
  }
}

// .invoice_list
.invoice_list{
    *{ border: 1px solid red;}
    li{ @include flex-spaceBetween; align-items: flex-start; border-bottom: 1px dotted $light-gray; padding-bottom: .5rem; margin-bottom: .5rem;}

}

//ga0808
//按鈕群
.menu_block {
    // height: calc(100% - 130px);
    padding: 8px;

    a {
        position: relative;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
        max-height: 90px;
        }

        em {
        font-size: 2rem;
        vertical-align: sub;
        margin-right: 20px;
        }
    }
}

//當文字需要兩行的時候父層要加menu_group，a 底下要包 span
.menu_group {
  a {
    span {
      @extend %text-ellipsis;
    }
  }

  // ga0809調整按鈕間距
  .row {
    .col-4 {
      padding: 0 7.5px;
    }

    & :first-child.col-4 {
      padding-left: 15px;
    }

    & :last-child.col-4 {
      padding-right: 15px;
    }
  }
}

//菜單卡片

.card_list {
    @include btn-wrap(1rem, 20px, 0px);

    a {
        background-color: $secondary !important;
    }

    .card_title,
    .card_body {
        @include flex-spaceBetween;
    }

    h6 {
        margin: 0;
    }

  ul {
    margin-top: 5px;
    margin-bottom: 0;
    @include flex-alignCenter;

    li {
      margin-right: 5px;
      font-size: 1.1rem;

      &::before {
        content: '·';
      }
    }
  }

  ._delete {
    align-self: flex-end;
    margin-left: auto;
    margin-top: 10px;
  }

  .card_title h6,
  .card_body ul {
    width: calc(85% - 20px);
    text-align: left;
  }

  .card_title p,
  .card_body ._delete {
    width: 15%;
    text-align: right;
  }

  // 預設按鈕樣式
  ._iconBg {
    // margin-right: 0;
    @include iconBg($primary, 0.25rem, 2.5rem);

    svg {
      @include icon($white, 1.6rem);
    }
  }
}


//小鍵盤
.numpad {
  // padding: 30px;
  background-color: pink;
  width: max-content;
  // width: 500px;

  > .row,
  > .row .row {
    margin-right: 0;
    margin-left: 0;
  }

  .btn {
    @include border-radius(10px);
    font-size: 4.7rem;
    line-height: 112px;
    width: 120px;
    height: 120px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;

    svg {
      width: 4.5rem;
    }
  }

  .result {
    background-color: $white;
    @include border-radius(10px);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 1rem;
    text-align: right;
    color: $main-gray;
    font-weight: bold;
  }

  .numbers {
    max-width: 384px;
  }

  .controlers {
    max-width: 130px;

    .btn {
      margin-right: 0;
    }

    ._enter {
      height: 376px;
      font-size: 3.5rem;
      @include flex-alignCenter;
      flex-direction: column;
      justify-content: center;
    }
  }
}

// 訂位卡片
.table_list {
  @include flex-spaceBetween;

  .item {
    @include flex-spaceBetween;
    @include border-basic(1px, $light-gray);
    @include border-radius(1rem);
    margin-bottom: 1rem;
    width: 18%;
    align-items: flex-start;
    padding: 0.3rem;

    .right_box {
      @include flex-column;

      ._icon {
        margin-right: 0;
        font-size: 1.8rem;
        &:nth-of-type(2) {
          svg {
            color: $main-gray;
          }
        }
      }
    }
  }
}




// C.2開始點餐
.order_block {
    .left_box {
        border-radius: 0 0 1rem 1rem;
        background-color: $lighten-blue;
        height: 100%;
    }

    .right_box {
        // @include Dflex;
    }

    //左邊訂單資訊
    .order_detail {
        // background-color: $secondary;
        box-shadow: none;
        @include border-radius(1rem);

        >div {
            @include flex-spaceBetween;
            border-bottom: 15px solid $bg-gray;
            padding: 15px;
            margin-left: -15px;
            margin-right: -15px;

            p {
                @include flex-alignCenter;
            }

            &.info {
                border-radius: 1rem 1rem 0 0;
                color: $dark;
            }

            &.subtotal {
                color: $main-gray;

                span {
                    margin-left: 15px;
                    margin-right: 15px;
                    vertical-align: middle;
                }

                p:nth-last-of-type(1) span {
                    margin-right: 0;
                }
            }
        }
    }

    //左邊已點內容
    .card_list {
        height: 1250px;
        overflow-y: scroll;

        @include secondary-device {
            // height:1000px;
        }
    }

    .product_panel {
        width: 100%;
        height: calc(100% - 295px); // 100% - sort270 - 25(待查)
        // overflow: hidden;

        @include Dflex;
        justify-content: space-between;

        .btn_list {
            // height: calc(100% - 150px); // 100% - header 130px
            height: 1160px;
            overflow: hidden;
            overflow-y: scroll;
            padding: 20px 15px;
            position: relative;

        }


        .product_list {
            .btn {
                padding: 20px 8px 20px 20px;
            }

            a span {
                max-width: calc(100% - 75px);
                @extend %text-ellipsis;
                -webkit-line-clamp: 1;

            }
        }

        .control_list {
            // height: calc(100% - 130px);
            height: 1160px;
            overflow: hidden;
            overflow-y: scroll;
        }

        .menu_block {
            //    height: calc(100% - 130px);
        }

    }

    //分類樣式
    .sort_list {
        margin: 0 auto 1rem;
        height: 270px;

        .slick-slide {
            margin: 0 60px;
            // text-align: center;
        }

        .slick-next {
            right: 15px;
            background-color: $primary;
            // -webkit-mask:  url(icon.svg) no-repeat 50% 50%;
            mask: url(../images/icon_next.svg) no-repeat center / 60%;
            // background: url(../images/icon_next.svg) no-repeat center / contain;
        }

        .slick-prev {
            left: 15px;
            background-color: $primary;
            // background: url(../images/icon_prev.svg) no-repeat center / contain;
            mask: url(../images/icon_prev.svg) no-repeat center / 60%;

        }

        .slick-next,
        .slick-prev {
            border: 2px solid cornflowerblue;
            background-color: $primary;
            height: 100%;
            width: 60px;
            z-index: 5;

            &::before {
                display: none;
            }
        }

        a {
            // max-width: 190px;
            width: calc(16.6667% -10px);
            margin: 5px;

            span {
                @extend %text-ellipsis;
                @include center;
                width: calc(100% - 50px);
            }
        }
    }

    // 第二種螢幕1920寬樣式
    @include secondary-device {
        .left_box{
            overflow:hidden;
            // height: 100%;
        }
        .card_list {
            overflow-y: scroll;
            height: 1210px;
        }
       .product_panel {
           height: 1140px;
           .btn_list {
            height: 100%;
        }
        .control_list{
            height: 1140px;
        }
       }
        
    }

}
