.bg-primary {
    background-color: $primary-color !important;
}

.bg-primary-30 {
    background-color: $primary-color-30 !important;
}

.bg-primary-20 {
    background-color: $primary-color-20 !important;
}

.bg-primary-5 {
    background-color: $primary-color-5 !important;
}

.bg-secondary {
    background-color: $secondary-color !important;
}


.bg-gray {
    background-color: $main-gray !important;
}

.bg-lighten-gray {
    background-color: $light-gray !important;
}


// 按鈕 ============
.btn_block {
    // border: 1px solid green;
    margin: 1.5rem 0px;
    @include Dflex-alignCenter;

    .btn {
        // display: inline-block;
        &:not(:nth-of-type(1)) {
            margin-left: 1rem;
        }
    }


}

.btn {
    display: block;
    letter-spacing: 2px;
    background-color:$white;
  
    &.bg-primary {
        color: $white;
    }

    &.bg-secondary {
        color: $dark;

        &.active {
            @include theme-colors(basic-theme)
        }
    }

    &.bg-gray {
        color: $white;
    }

    &.shadow-basic {
        &.active {
            box-shadow: none;
            @include theme-colors(basic-theme)
        }
    }

    &.btn-lg {
        //ga0808
        padding: 1rem 1.5rem;
    }

    &.btn-md {
        padding: 1.2rem;
    }

}

// 初始化icon
._icon {
    margin-right: 0.5rem;
    display: inline-block;

    svg {
        @include icon($primary-light, inherit);
    }

    img {
        display: inline-block;
    }
}

._iconl {
    margin-left: 0.5rem;
    display: inline-block;

    svg {
        @include icon($primary-light, inherit);
    }

    img {
        display: inline-block;
    }
}

._iconBg {
    margin-right: 0.5rem;
    @include iconBg($primary-light, 100%, 1.5rem);

    svg {
        @include icon($white, 0.8rem);
    }
}

$height: 3.5rem;
$width: 8rem;

$color-white: #fefefe;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-peter-river: #3498db;

$transition-default: 0.25s ease-out 0.10s;

.button_switch{
   
    font-size: 1em;
    width: 8rem;
    height: 3.5rem;
    position: relative;
    .switch {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // --
        height: 0;
        font-size: 1em;
        left: 0;
        line-height: 0;
        outline: none;
        position: absolute;
        top: 0;
        width: 0;
    
        &:before,
        &:after {
          content: '';
          font-size: 1em;
          position: absolute;
        }
    
        &:before {
          border-radius: 30 / 16 * 1rem;
          background: $main-gray;
          width: 8rem;
          height: 3.5rem;
          left: -0.35rem;
          top: -0.3rem;
          transition: background-color $transition-default;
          
        }
    
        &:after {
          box-shadow: 0 .0625em .375em 0 #666;
          border-radius: 50%;
          background: $white;
          width: 3rem;
          height: 3rem;
          transform: translate(0, 0);
          transition: transform $transition-default;
         
        }
    
        &:checked {
          &:after {
            transform: translate(4.3rem, 0);
          }
    
          & ~ .lbl-off {
            opacity: 0;
          }
    
          & ~ .lbl-on {
            opacity: 1;
          }
        }
    
        &#switch-blue {
          &:checked:before {
            background: $primary;
          }
        }
      }
}



// 產品列表按鈕
.btn_list {
    border: 2px solid yellowgreen;

    // border-radius,paddingtb,paddinglr
    @include btn-wrap(1rem, 20px, 15px);
    background-color: $white;

    a {
        @include flex-spaceBetween;

    }

    // 預設按鈕樣式
    ._iconBg {
        @include iconBg($primary, 0.5rem, 3rem);

        svg {
            @include icon($white, 2rem);
        }
    }

    // 點擊按鈕樣式
    .active {
        ._iconBg {
            @include iconBg($white, 0.5rem, 3rem);

            svg {
                @include icon($primary, 2rem);
            }
        }
    }
}

// 分頁
.pager_block {
    // border: 1px solid green;
    @include flex-spaceBetween;
    margin: 30px 0;

    // *{ border:1px solid #000;}
    .page {
        a {
            width: 30px;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            text-align: center;
            margin: 0 0.25rem;
            border-radius: 5px;
        }

        @include Dflex-alignCenter;

        .active {
            background-color: $primary;
            color: $white;
        }
    }

    .disable {
        color: $main-gray;

        ._icon {
            svg {
                color: $main-gray;
            }
        }
    }
}

// .order_list
.order_list {
    border: 1px solid #666;
    .item_group {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 1rem;
    }

    .item {
        color: #000;
        width: 100%;
        padding: 1rem;
        ._icon {
            img {
                width: 45px;
                height: 45px;
            }
        }
    }
}

//ga0808
//按鈕群

.menu_block{
    a{
        position: relative;
        height: 120px;
        display: flex;
        margin: 0 !important;
        flex-direction: column;
        justify-content: center;
        span{
        max-height: 90px;
        // @include center;
        // width: calc(100% - 50px);
        }
    }
}
.menu_group{
    a{
        // position: relative;
        // height: 120px;
        // display: flex;
        // margin: 0 !important;
        // flex-direction: column;
        // justify-content: center;
        span{
        @extend %text-ellipsis;
        // max-height: 90px;
        // @include center;
        // width: calc(100% - 50px);
        }
    }

}


//菜單卡片

.card_list {
    border: 2px solid yellowgreen;
    @include btn-wrap(.5rem, 20px, 15px);

    a+a {
        margin-bottom: .5rem
    }

    .card_title,
    .card_body {
        @include flex-spaceBetween;
    }

    h6 {
        margin: 0;
    }

    ul {
        margin-top: 5px;
        margin-bottom: 0;
        @include Dflex-alignCenter;

        li {
            margin-right: 5px;
            font-size: 1.1rem;

            &::before {
                content: "·";
            }

        }
    }

    ._delete {
        align-self: flex-end;
    }

    .card_title h6,
    .card_body ul {
        width: calc(85% - 20px);
        text-align: left;
    }

    .card_title p,
    .card_body ._delete {
        width: 15%;
        text-align: right;

    }

    // 預設按鈕樣式
    ._iconBg {
        // margin-right: 0;
        @include iconBg($primary, 0.25rem, 2.5rem);

        svg {
            @include icon($white, 1.6rem);
        }
    }

}


//header

.header {
    @include Dflex-alignCenter;
    color: $main-gray;
    background-color: $white;
    position: fixed;
    top: 0;
    left:50%;
    z-index: 1000;
    transform: translateX(-50%);
    width: 2160px;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
    // background-color: $white;

    .info {
        @include Dflex-alignCenter;

        * {
            margin-bottom: 0;
        }

    }

    ._icon {
        font-size: 1.8rem;
    }

    ._account {
        color: $main-gray;
        display: flex;
        align-items: center;
        font-weight: bold;
        margin-left: auto;
        // font-size:1.2rem;
    }
}


//小鍵盤
.numpad {
    // padding: 30px;
    background-color: pink;
    width: max-content;
    // width: 500px;

     >.row, >.row .row{
         margin-right: 0;
         margin-left: 0;
     }

    .btn {
        @include border-radius(10px);
        font-size: 4.7rem;
        line-height: 112px;
        width: 120px;
        height: 120px;
        margin-bottom: .5rem;
        margin-right: .5rem;
        overflow: hidden;
        svg{
           width: 4.5rem;
        }
    }

    .result{
        background-color: $white;
        @include border-radius(10px);
        width: 100%;
        margin-top: 20px;
        margin-bottom: 1rem;
        text-align: right;
        color: $main-gray;
        font-weight: bold;
    }
    .numbers{
        max-width:384px;
    }
    .controlers{
        max-width:130px;
        .btn{
            margin-right: 0;
        }
        ._enter{
            height: 376px;
            font-size: 3.5rem;
            @include Dflex-alignCenter;
            flex-direction: column;
            justify-content: center;
        }
    }
}

// 訂位卡片
.table_list{
    @include flex-spaceBetween;
    .item{
        @include flex-spaceBetween;
        @include border-basic(1px,$light-gray);
        @include border-basic-radius(1rem);
        margin-bottom: 1rem;
        width: 18%;
        align-items: flex-start;
        padding: 1rem;
        .right_box{
            @include flex-column;
            ._icon{ margin-right: 0;
                &:nth-of-type(2){
                    svg{ color: $main-gray;}
                }
                
            }
        }
    }
}


// C.2開始點餐
.order_block{

    .slick-prev, .slick-next{

    }
    .slick-prev{
        left: 5px;
    }
    .slick-next{
        right: 5px;
    }

    .btn_block{
        margin: 0 auto 15px;
        // max-height: 200px;
        width: 1383.33px;

        a{

            width: 170px;
            height: 120px;
            display: flex;
            margin: 0 !important;
            flex-direction: column;
            justify-content: center;
            position: relative;
            span{
            @extend %text-ellipsis;
            @include center;
            width: calc(100% - 50px);
            }
        }
    }
    .right_box{
        @include Dflex;
        .col-6{
            height: calc(100% - 230px);
        }
    }
   
}